.about{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--section-background);
}

.formacion{
    background-color: var(--section-background);
    margin-top: 3rem;
    padding-bottom: 2.5rem;
}

.about__title{
    padding-bottom: 1rem;
    font-size: 1.8rem;
    text-align: left;
    color: var(--text);
    font-weight: bold;

}

.about__description{
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: justify;
    color: var(--text);
}

.about__firma{
    font-family: 'Zeyada', cursive;
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-link);
}

@media (min-width: 1024px){
    .about{
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        margin-bottom: 3rem;
    }

    .about__title{
        font-size: 4rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }

    .about__description{
        font-size: 1.6rem;
    }

    .about__firma{
        font-size: 5rem;
    }
}