.exp{
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp__project{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--text);
}

.exp__img{
    width: 80vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.exp__name{
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    font-size: 1.5rem;
    color: var(--text);
    text-align: center;
}

.exp__desc{
    color: var(--text);
    text-align: left;
    padding-bottom: 1rem;
}

.container__btn{
    display: flex;
    justify-content: space-evenly;
}

.boton{
    margin-top: 0.5rem;
    padding: 0.5rem;
    line-height: 25px;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Raleway';
}

.boton__repositorio{
	background: none;
	border-color: var(--text-link);
    color: var(--text-link);
    transition: 0.3s all;
}

.boton__demo{
    background: var(--text-link);
    border: none;
    color: var(--blanco);
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.3s all;
}

.boton__repositorio:hover{
    transform: scale(1.08);
}

.boton__demo:hover{
    transform: scale(1.08);
}

@media (min-width: 1024px){
    .exp__project{
        display: flex;
        flex-direction: initial;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 0px solid var(--text-link);
    }

    .exp__img{
        margin-left: 4rem;
        width: 55%;
    }

    .exp__info{
        display: flex;
        flex-direction: column;
    }

    .exp__name{
        font-size: 1.8rem;
        text-align: left;
        padding-left: 2rem;
    }

    .exp__desc{
        padding-left: 2rem;
        padding-bottom: 3rem;
    }

    .container__btn{
        display: flex;
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .boton__demo{
        margin-left: 2rem;
        padding: 1rem;
    }

    .boton__repositorio{
        padding: 0.94rem;
    }

    .grado{
        margin-bottom: 1.8rem;
        font-size: 2rem;
        padding-top: 2rem;
    }   
}