.generic{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generic__title{
    padding-top: 2.2rem;
    padding-bottom: 1.8rem;
    font-size: 1.8rem;
    color: var(--text);
    font-weight: bold;
    transition: 0.2s all;
    text-align: center;
    color: var(--text);
    cursor: default;
}

.generic__title:hover{
    color: var(--text-link);
}

.generic__icons{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.iconn{
    background: var(--blanco);
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin: 1rem;
    width: 23%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
    transition: 0.3s all;
}

.iconn__hobbies{
    background: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
    transition: 0.3s all;
}

.iconn:hover, .iconn__hobbies:hover, .iconn__formacion:hover{
    transform: scale(1.03);
}

.iconn__formacion{
    background: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
    transition: 0.3s all;

}

.img__icon{
    padding-top: 1rem;
    width: 72px;
    height: 72px;
}

.img__icon-formacion{
    padding-top: 0.5rem;
    width: 100px;
    margin-bottom: 1rem;
}

.icon__name{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    cursor: default;
    transition: 0.2s all;
    color: var(--text);
}

.icon__name-formacion{
    text-align: left;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-top: 1rem;
    cursor: default;
    transition: 0.2s all;
    color: var(--text-link);
    text-align: center;
}

.icon__name:hover{
    color: var(--text-link);
}

.grado{
    font-weight: bold;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--text);
    text-align: center;
}

@media (min-width: 1024px){
    .generic__title{
        padding-top: 1rem;
        padding-bottom: 3rem;
        font-size: 4rem;
    }

    .generic__icons{
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .iconn{
        width: 24%;
        margin-top: 3.5rem;
        margin-bottom: 2rem;
        padding-bottom: 3rem;
    }

    .iconn__hobbies{
        width: 45%;
        margin-right: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .img__icon-formacion{
        width: 180px;
        padding-top: 1.2rem;
    }

    .icon__name-formacion{
        padding-top: 0;
        padding-bottom: 2rem;
    }
}